@use "../base/function" as f;
@use "../base/mixins" as m;
@use "../base/variables" as v;

/*=====================
トップページの設定
=====================*/
.fv {
  margin-top: 200px;
  padding: 0 4%;

  &__container {
    max-width: 1140px;
    margin: auto;
  }

  // min-width 768px
  @include m.mq(ms) {
    br {
      display: none;
    }
  }
}

$i: 1;
@while $i < 24 {
  .fv-#{$i} {
    animation: showtext $i * 0.2s ease;
  }
  $i: $i + 1;
}

@keyframes showtext {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-img {
  margin-top: 200px;

  img {
    width: 100vw;
  }
}

.intro {
  margin-top: 100px;
  padding: 0 4%;

  h2 {
    text-align: center;
  }

  h3 {
    max-width: 1020px;
    margin: 35px auto 0;
    text-align: center;

    span {
      display: block;
    }
  }

  &__container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 60px;
  }

  &__card {
    max-width: 300px;

    img {
      width: 100%;
    }

    p {
      margin: 20px auto;
    }
  }

  // max-width: 1220px
  @include m.mq(lg) {
    &__container {
      flex-direction: column;
      align-items: center;
      gap: 40px 0;
    }

    &__card {
      max-width: 400px;
    }
  }
}

.sub-img {
  margin-top: 150px;

  img {
    width: 100vw;
  }
}

.about {
  margin-top: 100px;
  padding: 0 4%;

  &__wrapper {
    max-width: 1140px;
    margin: auto;
  }

  p {
    margin-top: 35px;
  }

  a {
    margin: 15px 0 0 auto;
  }
}

.member {
  margin: 100px auto 200px;
  padding: 0 4%;

  h2 {
    max-width: 1140px;
    margin: auto;
  }

  &__container {
    max-width: 1040px;
    margin: auto;
    overflow: scroll;
  }

  &__item {
    position: relative;
    width: fit-content;
    margin-top: 80px;

    &:nth-child(2n) {
      margin: 70px 0 0 auto;
    }

    p {
      position: absolute;
      top: 100px;
    }
  }
  &__years {
    left: 150px;
  }

  &__gender {
    left: 145px;
  }

  &__university {
    left: 135px;
  }

  &__department {
    left: 95px;
  }

  span {
    &:first-child {
      display: block;
      text-align: center;
    }
  }

  &__canvas {
    position: relative;
    width: 450px;
  }
}
