@use "../base/function" as f;
@use "../base/mixins" as m;
@use "../base/variables" as v;

/*=====================
イベントページの設定
=====================*/
.contact {
  padding: 0 4%;

  &__outer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    min-height: 325px;
    background-image: url(../image/bgi_contact_sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__wrapper {
    max-width: 1140px;
    margin: 130px auto 0;
  }

  ul {
    margin-top: 50px;
  }

  li {
    margin-top: 10px;
  }
}

.faq {
  margin: 80px auto 100px;
  max-width: 1140px;

  &__row {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 45px;
    padding-left: 60px;

    &-question {
      margin-top: 50px;
      margin-bottom: 15px;

      &-text {
        padding-top: 12px;
      }
    }

    &-answer {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;

    &-question {
      background-color: #e25c00;
    }

    &-answer {
      background-color: #efefef;
    }
  }

  &__answer {
    &-body {
      padding-top: 12px;

      & > :last-child {
        margin-bottom: 0;
      }
    }

    &-text {
      margin-bottom: 10px;
    }

    &-text-sub {
      margin-bottom: 20px;
    }
  }
}
