---
import Chart from '../components/Chart.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout>
  <Hero />

  <section class="intro">
    <h2><span>WILL</span>について</h2>
    <h3>
      WILLは、2020年8月に設立された早稲田大学ITサークル（WASEDA IT Leader
      Lab）です。ITを学習するPlayGroundというコミュニティに参加し、プログラミングやデザインの学びを提供しています。
      <span>
        私たちは、PlayGroundのビジョンに加えて、3つの目標を掲げています。
      </span>
    </h3>
    <div class="intro__container">
      <div class="intro__card">
        <div class="intro__img">
          <img
            src="/will-promotion.github.io/images/top/top_intro_1.svg"
            alt="社会人が働いている様子を表したベクター画像"
          />
        </div>
        <p>
          学生のうちからプログラミングというツールを通して、社会人や社会活動に触れる。
        </p>
      </div>
      <div class="intro__card">
        <div class="intro__img">
          <img
            src="/will-promotion.github.io/images/top/top_intro_2.svg"
            alt="学生達が楽しむ様子を表したベクター画像"
          />
        </div>
        <p>
          サークル活動としての経験を積む。人とタテ・ヨコの繋がりを作り、組織人としての経験を積む。
        </p>
      </div>
      <div class="intro__card">
        <div class="intro__img">
          <img
            src="/will-promotion.github.io/images/top/top_intro_3.svg"
            alt="人々が笑顔になる様子を表したベクター画像"
          />
        </div>
        <p>帰属している人たちの自発的な行動に寛容であり続ける。人との輪を大切にする。</p>
      </div>
    </div>
  </section>

  <div class="sub-img"><img src="/will-promotion.github.io/images/top/top_wave_green.svg" alt="" /></div>

  <section class="about">
    <div class="about__wrapper">
      <h2>PlayGroundについて</h2>
      <p>
        Playgroundとは、株式会社Shinonomeが設立したコミュニティーで、世の中に革新を起こすテクノロジー存在の「巣」です。大学で享受できる網羅的な知識と社会で求められる実践的な技術のギャップを解消すべく、全国の大学や自治体と連携し、学内やその周辺に無料で学べる教育機関を設置し、学生を対象に成長・挑戦の機会を提供しています。WILLではそのPlaygroundに参画し、プログラミングを学習するだけでなく多様な人と関わり合うことで、エンジニアとしての総合的な素養を身につけることができます。
      </p>
      <a href="/will-promotion.github.io/about" class="button"
        >VIEW MORE<span>&rang;&rang;</span></a
      >
    </div>
  </section>

  <Chart />
</Layout>

<style>
  .intro {
    margin-top: 200px;
    padding: 0 4%;
  }

  .intro h2 {
    text-align: center;
  }

  .intro h3 {
    max-width: 1020px;
    margin: 35px auto 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.8;
    letter-spacing: 0;
    color: #41475a;
  }

  .intro h3 span {
    display: block;
  }

  .intro > span {
    font-family: "Spectral SC", serif;
    font-size: 2.6875rem;
  }

  .intro__container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 60px;
  }

  .intro__card {
    flex: 1;
    max-width: 300px;
  }

  .intro__card img {
    width: 100%;
  }

  .intro__card p {
    margin: 20px auto;
  }

  @media screen and (max-width: 1000px) {
    .intro h3 {
        text-align: left;
      }
  }

  @media screen and (max-width: 1110px) {
    .intro__container {
      flex-direction: column;
      align-items: center;
    }

    .intro__card {
      max-width: 300px;
    }

    .intro__card:nth-child(2n-1) {
      margin-left: -400px;
    }

    .intro__card:nth-child(2n) {
      margin-right: -400px;
      margin-top: -200px;
      margin-bottom: -200px;
    }

    .intro__card:nth-child(3) p {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 800px) {
    .intro__card {
      max-width: 240px;
    }

    .intro__card:nth-child(2n-1) {
      margin-left: -350px;
    }

    .intro__card:nth-child(2n) {
      margin-right: -350px;
      margin-top: -200px;
      margin-bottom: -200px;
    }
  }

  @media screen and (max-width: 640px) {
    .intro__card {
      max-width: 240px;
    }

    .intro__card:nth-child(2n-1) {
      margin: auto;
    }

    .intro__card:nth-child(2n) {
      margin: auto;
    }
  }

  .sub-img img {
    width: 100vw;
  }

  .about {
    margin-top: 100px;
    padding: 0 4%;
  }

  .about__wrapper {
    max-width: 1140px;
    margin: auto;
  }

  .about p {
    margin-top: 35px;
  }

  .about a {
    margin: 15px 0 0 auto;
  }
</style>
