---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

const title = "入会方法";
---

<Layout title={title}>
  <section class="join">
    <div class="join__outer">
      <h2>入会について</h2>
    </div>
    <div class="join__text-box">
      <p>
        WILLでは、年間を通して一緒に学び成長するメンバーを募集しています。大学や学部・学年、プログラミング経験の有無などは基本的には問いません。少しでも興味があれば、ぜひ下を参考に入会をご検討ください！
      </p>
    </div>

    <div class="join__text-wrapper">
      <h3>入会フロー</h3>
    </div>
    <div class="join__container">
      <div class="join__box">
        <div class="join__card">
          <h4>説明会参加<br />（所要時間：30~45分）</h4>
          <p>
            対面/ZOOMにて活動内容、入会方法についての説明会を行います！下の「説明会参加フォーム」から応募の上こちらにご参加ください！
          </p>
        </div>
        <div class="join__img">
          <img src="/images/join_arrow.svg" alt="矢印" />
        </div>
        <div class="join__card">
          <h4>セットアップ・入会<br />（所要時間：15分程度）</h4>
          <p>
            説明会後、入会希望の方にはWILLの活動で使用するツールなどのセットアップを行っていただきます！サポートも行いますので安心してご参加ください！
          </p>
        </div>
      </div>
    </div>

    <div class="join__wrapper">
      <div class="join__btn-box">
        <h3>説明会参加フォーム</h3>
        <a href="https://t.co/xqtDzHaGZU" target="_blank" rel="noopener noreferrer">
          説明会参加フォームへ
        </a>
      </div>

      <div class="join__button">
        <h3>新歓説明会日程</h3>
        <a href="/events">新歓イベントページ<span>&rang;&rang;</span></a>
      </div>
    </div>
  </section>
</Layout>

<style>
  h2 {
    text-align: center;
  }


  h4 {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.6;
    letter-spacing: 0;
    color: #41475a;
  }

  ul {
    margin-top: 35px;
  }

  li, a {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2;
    letter-spacing: 0;
    color: #41475a;
  }

  a {
    color: #b5c97c;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 35px;
    padding: 1.5% 2%;
    border: 2px solid #b5c97c;
    position: relative;
    transition: 0.7s;
  }

  .join__btn-box > a:hover {
    color: #f7c8da;
    border: 2px solid transparent;
  }

  .join__btn-box > a:hover::before, a:hover::after {
    transform: scale(1);
  }

  .join__btn-box > a::before, a::after {
    content: "";
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transform: scale(0);
    transition: 0.7s;
  }

  .join__btn-box > a::before {
    border-bottom: 2px solid #f7c8da;
    border-left: 2px solid #f7c8da;
    transform-origin: 100% 0%;
  }

  .join__btn-box > a::after {
    border-top: 2px solid #f7c8da;
    border-right: 2px solid #f7c8da;
    transform-origin: 0% 100%;
  }

  .join {
    margin-bottom: 100px;
    padding: 0 4%;
  }

  .join__outer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    min-height: 325px;
    background-image: url(/images/bgi_join_sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .join__text-box {
    max-width: 980px;
    margin: 40px auto 0;
  }

  .join__text-wrapper {
    max-width: 1140px;
    margin: 60px auto 0;
  }

  .join__wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 1140px;
    margin: 60px auto 0;
  }

  .join__btn-box {
    flex-basis: 35%;
  }

  .join__btn-box > h3 {
    font-size: 1.5rem;
  }

  .join__btn-box > p {
    text-align: center;
  }

  .join__button {
    flex-basis: 35%;
    text-align: center;
  }

  .join__button > h3 {
    font-size: 1.5rem;
  }

  .join__button a {
    display: inline-block;
    font-size: 1.0rem;
    border: 1px solid #644529;
    border-radius: 50px;
    transition: all 500ms;
    color: #644529;
    text-align: center;
    padding: 10px 20px;
  }

  .join__button a:hover {
    background-color: #644529;
    color: #ffffff;
  }

  .join__button span {
    display: inline-block;
  }

  .join__container {
    overflow-x: hidden;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-top: 20px;
    padding: 60px 4%;
    background: linear-gradient(0deg, #f6f6f9, #f6f6f9), rgba(255, 255, 255, 0.45);
  }

  .join__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: auto;
  }

  .join__card {
    padding: 25px;
    background-color: #ffffff;
    max-width: 480px;
    min-width: 200px;
    min-height: 215px;
    box-shadow: 0px 5px 12px #cad4e2, -6px -6px 12px #ffffff;
    border-radius: 15px;
  }

  .join__card p {
    margin-top: 20px;
  }

  @media screen and (max-width: 1080px) {
    .join__box {
      flex-direction: column;
      gap: 20px 0;
    }

    .join__img {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      transform: rotate(90deg);
    }

    .join__wrapper {
      flex-direction: column;
      align-items: center;
      gap: 40px 0;
    }

    .join__btn-box {
      width: 100%;
      text-align: center;
    }

    a {
      margin: 35px auto;
    }
  }

  @media screen and (min-width: 768px) {
    br {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    p {
      margin-top: 15px;
    }

    h4 {
      font-size: 1.25rem;
    }

    li {
      font-size: 1.125rem;
    }
  }
</style>
