---
import Hamburger from "./Hamburger.astro";
---

<header class="header">
  <div class="header__wrapper">
    <Hamburger />
  </div>
</header>

<style>
  .header {
    padding: 0 4%;
  }

  .header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
