@use "../base/variables" as v;

.button {
  display: block;
  width: fit-content;
  margin: 15px 0 0 auto;
  padding: 10px 30px 10px 40px;
  border: 1px solid v.$deep-brown;
  border-radius: 50px;
  transition: all 1000ms cubic-bezier(0.39, 0.5, 0.15, 1.36);

  span {
    display: inline-block;
    margin-left: 30px;
  }

  &:hover {
    color: v.$white;
    background-color: v.$deep-brown;
  }
}
